---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-12">
    {% include feature/timelinejs.html %}
    {% include index/description.html %}
    {% include index/carousel.html title="Anteprima" height="300" %}

  </div>
  </div>
  <div class="col-md-12">
    {% include index/time.html %}
    <col>
    {% include index/featured-terms.html field="subject" title="Temi principali" btn-color="primary" %}
    </col>
    <col>
    {% include index/featured-terms.html field="location" title="Luoghi" btn-color="outline-secondary" %}
    </col>
    <col>
    {% include index/objects.html %}
    </col>

  </div>

  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
