---
# Lunr search page
layout: page
custom-foot: js/lunr-js.html
---
{%- assign fields = site.data.config-search | where: 'index',true | map: 'field' -%}
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#operators">Opzioni di ricerca</button>
<!-- Modal -->
<div class="modal fade" id="operators" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Opzioni di ricerca Lunr</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Queste opzioni avanzate possono essere aggiunte alla tua ricerca per ottenere risultati più specifici:</p>
                <ul>
                    <li>Cerca un campo specifico: utilizza il nome del campo, i due punti, poi la tua ricerca, ad es. <code>title:foo</code>, <code>date:1911</code>, <code>subject:tree</code>. In questa collezione puoi usare {{ fields | join: ", " }}.</li>
                    <li>Wildcards: aggiungi <code>*</code> per trovare qualsiasi carattere, e.g. <code>foo*</code>, <code>*oo</code>. Questo aiuta quando si vuole utilizzare una radice per trovare parole con desinenze diverse.</li>
                    <li>Fuzzy match: aggiungi <code>~</code> più un numero alla fine della tua ricerca per specificare un livello più alto di indeterminatezza nelle ricerche, ad es. <code>foo~1</code>. Questo può aiutare con errori di trascrizione.</li>
                    <li>Potenzia un termine: aggiungi <code>^</code> più un numero per potenziare la rilevanza di un termine all'interno della tua ricerca, ad es. <code>foo^10</code>. Questo può essere utile per ridurre la ricerca eliminando risultati non coerenti.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{ content }}

<div class="ms-3 mt-3">
    <form class="" role="search" id="lunrSearch" onsubmit="lunr_search(); return false;">
        <div class="input-group input-group-lg">
            <input id="lunrSearchBox" class="form-control " type="text" placeholder="Enter your search term..." >
            <button class="btn btn-success" type="submit">
                Search
            </button>
        </div>
    </form>

    <table id="lunrResults" class="table table-responsive"></table>
</div>

<div class="mt-3">
    <p class="text-muted">Fuzzy search creata da <a href="https://lunrjs.com/" target="_blank" rel="noopener">Lunr.js</a>. <em>Può volerci qualche minuto per caricare grandi collezioni!</em></p>
    {% if site.google-cse-id %}<p class="text-muted">In alternativa, prova la ricerca <a href="{{ '/search/google.html' | relative_url }}">Google CSE</a>.</p>{% endif %}
</div>
